name: Create Kong Repository

on:
  workflow_dispatch:
    inputs:
      repository_name:
        description: "Name of the new Kong repository"
        required: true

jobs:
  create-repo:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout self-service repo
        uses: actions/checkout@v4

      - name: Install GitHub CLI
        run: |
          sudo apt update
          sudo apt install gh -y

      - name: Authenticate GH CLI
        run: echo "${{ secrets.GH_PAT }}" | gh auth login --with-token

      - name: Create, Clone and Bootstrap Repository
        run: |
          REPO=${{ github.repository_owner }}/${{ github.event.inputs.repository_name }}

          echo "Checking if $REPO exists..."

          if gh repo view "$REPO" >/dev/null 2>&1; then
            echo "Repository exists."
          else
            echo "Creating repository $REPO"
            gh repo create "$REPO" --private --add-readme
          fi

          echo "Cloning repository..."
          rm -rf ${{ github.event.inputs.repository_name }}
          gh repo clone "$REPO"
          cd ${{ github.event.inputs.repository_name }}

          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git remote set-url origin https://x-access-token:${{ secrets.GH_PAT }}@github.com/$REPO.git

          mkdir -p .github/workflows
          mkdir -p api

          cp "$GITHUB_WORKSPACE/templates/.github/workflows/kong-deploy.yml" .github/workflows/
          cp "$GITHUB_WORKSPACE/templates/api/kong.yaml" api/

          git add .

          if git diff --cached --quiet; then
            echo "No changes to commit."
          else
            git commit -m "Initial Kong repo structure"
          fi

          git checkout -B dev
          git push -u origin dev

          git checkout -B uat
          git push -u origin uat

          git checkout -B prod
          git push -u origin prod
